# --- Ignore only specific R and Rmd files ---

Benchmarking.R
DataEngineeringSurvival.R
PredictionsV1.R
PredictionV3.R
SF_Prediction.Rmd

# --- Usual system & RStudio clutter ---
.DS_Store
.Rhistory
.RData
.Rapp.history
.Rproj.user/

